<div class="">
  <div class="mx-auto max-w-2xl py-16 px-4 text-center sm:py-20 sm:px-6 lg:px-8">
    <h2 class="text-3xl font-bold tracking-tight text-indigo-700 sm:text-4xl">
      <span class="block">Give anonymous feedback</span>
      <span class="block">to brands you love (or hate).</span>
    </h2>
    <p class="mt-4 text-lg leading-6 text-gray-700">
      Unidentified Feedback is a free tool that allows anyone to share a brief suggestion, anonymously, by simply providing a Twitter username.
    </p>
  </div>
</div>